{
  plugins: [
    "react"
  ],
  parser: "babel-eslint",
  extends: ["semistandard"],
  rules: {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "space-before-function-paren": 0,
    "space-before-keywords": 0,
    "comma-dangle": [2, always-multiline],
    "standard/computed-property-even-spacing": 0,
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/jsx-uses-react": 2,
    "react/prop-types": 2,
  },
  globals: {
    assert: true,
    describe: true,
    it: true,
    xit: true,
    beforeEach: true,
    afterEach: true,
    expect: true,
    document: true,
    window: true,
    ReactElement: true,
    ReactComponent: true,
    EventTarget: true,
    Event: true,
    fetch: true
  }
}

